<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div class="form_container">        
        <h2>Sign up</h2>
      <form action="" class="form signup">
        <div class="input_row">
          <label for="" class="input_label">Username</label>
          <input type="text" class="input_control" />
        </div>
        <div class="input_row">
          <label for="" class="input_label">Email</label>
          <input type="email" class="input_control" />
        </div>
        <div class="input_row">
          <label for="" class="input_label">Password</label>
          <input type="password" class="input_control" />
        </div>
        <div class="input_row">
          <label for="" class="input_label">Confirm Password</label>
          <input type="password" class="input_control" />
        </div>
        <span>Already registered?<a href="/app/v1/author/login">Login</a></span>
        <div class="btn_container">
          <button type="submit">Submit</button>
          <button type="reset">Clear</button>
        </div>
      </form>
    </div>
  </body>
</html>
